/* Color References */
:root {
  --mainHover: black;
  --mainText: white;
  --navBkgd: #5bd3ff;
  --navHover:white;
  --navText:#1779ba;
}

/* Landing Page itself */
  body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }

/* Footer */
  /* Footer Box */
  .footer-bar {
    background-color:var(--navBkgd);
    border: solid;
    border-width: 1px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }
  /* Footer Text */
  .footer-bar h4,
  .footer-bar h5 {
    color: var(--navText);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 10px;
    list-style-type: none;
    margin-top: 7px;
  }  


/* MAIN UI */
  /* Dynamic Slogan styling */
  main ul li h4 {
    color: var(--mainText);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
  }  
  /* fourSTOR Main Logo styling */
  .logo-img {
    height: auto;
    left: 50%;
    margin-left: -80px;
    margin-top: 25px;
    position: relative;
    width: 10rem;
  }   
  /* Main UI Box */
  .grid-container-UI {
    border: solid;
    border-radius: 20%;
    border-width: 2px;
    color: var(--mainText);
    height: 500px;
    margin-bottom: 25px;
    position: relative;
    width: 500px;
  }  
  /* Main UI links */
  .grid-container-card {
    border: solid;
    border-radius: 100%;
    border-width: 3px;
    color: var(--mainText);
    font-size: 50px;
    font-weight: bold;
    height: 200px;
    margin-left: 5%;
    margin-top: 6.75%;
    padding-top: 60px;
    position: relative;
    text-align: center;
    width: 200px;
  }  
  /* Main UI link hover */
  main .grid-x :hover {
    color: var(--mainHover);
  }  


/* NAVBAR */
  /* Navbar link styling */
  nav ul li {
    align-items: center;
    padding: 8px;
  }
  /* Navbar logo */
  nav img {
    height: 2rem;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    top: 20px;
    width: auto;
  }
  /* Navbar styling */
  nav ul {
    display: block;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    min-width: 300px;
  }        
  /* Navbar text */
  nav a {
    color: var(--navText);
    text-decoration: none;
  }        
  /* Navbar text hover */
  nav a:hover {
    color: var(--navHover);
  }  

/* Moving Background v1 */
  .wrapper {
    opacity: 75%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .sliding-background {
    /* Image Src = https://www.pexels.com */
    /* background: url("https://ik.imagekit.io/slashit/sliding-background_3z5vIlHdF.png") repeat-x; */
    background: url("/assets/images/backgrounds/bkgd01.jpg") repeat-x;
    height: 1000px;
    width: 6000px;
    animation: slide 60s linear infinite;
  }
  @keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2000px, 0, 0);
    }
  }

/* === search result cards === */

.search-card {
    margin: 30px 30px 30px auto;
    width: 80%; 
    border: 1px solid #dadada;
    box-shadow: 5px 5px 20px #dbdbdb;
    transition: transform 0.2s
}

.search-card:hover {
    transform: scale(1.03);
}

.map-card {
    margin: 30px auto 30px 30px;
    width: 80%;
}

.card-title {
    font-weight: 700;
    font-size: 180%;
}

.card-link,
.card-link:visited {
    color: black;
}

.card-link:hover {
    color: rgb(47, 47, 47);
}

.card-content {
    padding: 20px;
}

.card-category {
    background: #7ad2da;
    padding: 6px 8px;
    border-radius: 8px;
}

.card-image {
    object-fit: cover; 
    min-width: 250px;
    width: 250px;
}

.refresh-btn {
  justify-content: center;
}

.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

