:root {
  --navBkgd: #5bd3ff;
  --navText:#1779ba;
  --navHoverText:white;
  --buttonHoverText: white;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.button {
  color: var(--buttonHoverText);
}

nav a {
  color: var(--navText);
  text-decoration: none;
}      

nav a:hover {
  color: var(--navHoverText);
}

nav img {
  left: 50%;
  margin-left: -75px;
  max-height: 2rem;
  position: absolute;
  top: 22px;
}

nav ul {
  display: block;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  min-width: 300px;
}      

nav ul li {
  align-items: center;
  padding: 8px;
}

.main-search {
  border: solid;
  position: relative;
}

.maincard

.foodEl {
    border-right:2.5px  solid;
    border-bottom:2.5px  solid;
}

.funEl {
    border-left:2.5px  solid;
    border-bottom:2.5px  solid;
}

.shopEl {
    border-top:2.5px  solid;
    border-right:2.5px  solid;
}

.servEl {
    border-top:2.5px solid;
    border-left:2.5px solid;
}

/* === search result cards === */

.card {
    margin: 30px;
    width: 80%; 
    border: 1px solid #dadada;
    box-shadow: 5px 5px 20px #dbdbdb;
    transition: transform 0.2s
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    font-weight: 700;
    font-size: 180%;
}

.card-link,
.card-link:visited {
    color: black;
}

.card-link:hover {
    color: rgb(47, 47, 47);
}

.card-content {
    padding: 20px;
}

.card-category {
    background: #7ad2da;
    padding: 6px 8px;
    border-radius: 8px;
}

